<style>
    .center {
      margin: auto;
      width: 60%;
      padding: 10px;
      text-align: center;

    }

    h3 {
        text-align: centre;
    }
</style>

<div class="center">
    <h3>ABOUT THIS APP</h3>
    <p>This web app is to allow a user to keep track of food and drink products that may go out of date without the user realising.
        The app will store the name, location(where the product is stored), the expiry date and the amount of the product the user has
        stored. Along with being abole to store each product, the user will obviously be able to look at all the products that they 
        currently have stored. If you use a product, you can delete the product from the list or edit the product information to change the amount
        you have left od the product. The aim of this app is to reduce the amount of waste that the average household produces. This app follows a MEAN stack
        which is MongoDB, Express, Angular and Node.js
    </p>
</div>